hearder.hearder
    .header-wrap
        .header-logo
            a(href=routes.home)
                i.fab.fa-instagram
                p Dailygram
        .header-gnb
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.login)
                            i.far.fa-user-circle
                    li
                        a(href=routes.login)
                            i.fas.fa-arrow-circle-up
                    li
                        a(href=routes.login)
                            i.far.fa-comments
                else
                    li
                        a(href=routes.userPage(user.id))
                            i.far.fa-user-circle
                    li
                        a(href=`/images${routes.upload}`)
                            i.fas.fa-arrow-circle-up
                    li
                        a(href=`/users${routes.direct}`)
                            i.far.fa-comments
                    li
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt

                            
