extends layouts/main

block content
    .imageDetail-wrap
        .image-box
            img(src=`/${image.fileUrl}`)
        .image-info
            strong.uploads-user
                a(href=routes.userPage(image.creator.id))=image.creator.name
            if loggedUser && loggedUser.id === image.creator.id
                button.edit-img
                    a(href=routes.editImage(image.id)) 수정하기
        p.image-description=image.description
        .image-likes
            button#jsimageLike
                i.far.fa-heart
            if image.views === 1
                span#imageLikeNumber 1 
                | 좋아요
            else
                span#imageLikeNumber #{image.views}   
                |       좋아요
        .image-comments
            if image.comments.length === 1
                span.comment-number 댓글  
                    span#jsCommentNumber 1
                    | 개
            else
                span.comment-number 댓글  
                    span#jsCommentNumber=image.comments.length
                    | 개
            form.add-comment#jsAddComment
                input(type="text", placeholder="댓글 입력")
                button#jsSubmitBtn 게시
            ul.comment-list#jsCommentList
                each comment in image.comments.reverse()
                    li
                        if loggedUser && (String(comment.creator) === loggedUser.id)
                            span#jsComment=comment.text
                                button(id=String(comment._id)) X
                        else
                            span=comment.text
