extends layouts/main

block content
    .imageDetail-wrap
        .image-box
            img(src=`/${image.fileUrl}`)
        .image-info
            strong.uploads-user
                a(href=routes.userPage(image.creator.id))=image.creator.name
            if loggedUser && loggedUser.id === image.creator.id
                button.edit-img
                    a(href=routes.editImage(image.id)) 수정하기
        if image.views === 1
            span.image_views 1 view
        else
            span.image_views #{image.views} views
        p.image-description=image.description
        .image-comments
            form.add-comment#jsAddComment
                input(type="text", placeholder="댓글 입력")
                input(type="submit", value="게시")
            ul.comment-list#jsCommentList
                each comment in image.comments.reverse()
                    li
                        span=comment.text
            if image.comments.length === 1
                span.comment-number 1 comment
            else
                span.comment-number #{image.comments.length} comments